.aboutWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}
.box{
    background:white;
    padding:20px 25px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    width:32%;
    margin:20px 0;
    box-sizing: border-box;
    display: table;
    height:210px;
}
.tablecell{
    display: table-cell;
    vertical-align: middle;
}
.box .imgBox{
    width:50px;
    padding:0 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.box .imgBox img{
    width:120%;
}
.box .textBox{
    flex:1;
    padding:20px 0 20px 0;
}
.box .textBox strong{
    color:rgb(68 0 24 / 45%);
}
.box .textBox p{
    color: #666;
}
.schoolimg{
    margin-top:10px;
}
.school{
    padding-top: 20px;
}
.school1>p,
.school2>p,
.career{
    font-size: 13px;
}
