/* body{
  background: url(images/bg.jpg) no-repeat;
  background-size: 100vw;
  color:white;
}
*{
  margin:0;
  padding:0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.Wrap{
  background: #ddd;
}
.innerBox{
  max-width: 1200px;
  margin: 0 auto;
}
header{
  border-bottom: 1px solid #333;
}
header>.innerBox{
  display: flex;
  justify-content: space-between;
}
.logo{
  width:220px;
}
.logo img{
  width:100%;
}
#nav{
  display: flex;
  align-items: center; 
  /* 위아래 가운데정렬 */
/* }
#nav>li{
  margin:50px;
}
#nav>li>a{
  color:white;
}
.container{
  padding:100px 0;
} */ 
body {
  background: url(/public/images/background.jpg) ;
  background-size: 100%;
  height:100%;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.innerBox {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid #b5b4b4;
}

header>.innerBox {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 240px;
}

.logo img {
  width: 100%;
}
.Wrap{
  /* background: #ddd; */
  /* height: 150vh; */
}

#nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#nav>li {
  margin: 0 50px;
}

#nav>li>a {
  color: #280E3F;
  FONT-WEIGHT: bold;
}

.titleBox {
  text-align: center;
}

.titleBox>div {
  margin: 100px 0;
}
.titleBox h3{
  color:#333;
}
.titleBox>div>p {
  font-size: 60px;
  font-weight: 400;
}

.titleBox>div>.maskText>.mask {
  font-weight: 700;
  font-size: 70px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0060af+2,e93cec+100 */
  background: rgb(0, 96, 175);
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(0, 96, 175, 1) 2%, rgba(233, 60, 236, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(0, 96, 175, 1) 2%, rgba(233, 60, 236, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(0, 96, 175, 1) 2%, rgba(233, 60, 236, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0060af', endColorstr='#e93cec', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

  background-clip: text;
  color: rgba(0, 0, 0, 0);
}
.slick-slide img {
  width: 80%;
  margin: 0 auto;
}
.slick-slide p {
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.slick-slide p>a{
    background: white;
    width: 130px;
    height: 50px;
    display: block;
    border-radius: 50px;
    line-height: 50px;
    color: #888;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
.slick-slide p>a:hover{
  color:#53247d;
}
.slick-slide h3{
  padding-bottom: 20px;
  color:#666;
}

.container>h2{
  padding:30px 0 20px 0;
  font-size: 30px;
}
